@page
@model Veterinaria.App.Presentacion.Pages.AdminVeterinarioModel
@{
}

<h1 style="margin: 25px 0px; color: gray; font-size: 21px;">@Model.titulo</h1>

@* <button class="btn btn-primary" onclick="actualizarLista()">Actualizar lista</button> *@


<div class="accordion" id="accordionExample">


    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseListaVeterinarios" aria-expanded="true"
                    aria-controls="collapseListaVeterinarios">
                    Lista veterinarios
                </button>
            </h2>
        </div>

        <div id="collapseListaVeterinarios"
         class="@(Model.modoAdmin == "edicion" ? "collapse" : "collapse show")"         
         aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="card-body">




                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if(Model.listaVeterinarios != null)  {
                            foreach (var v in Model.listaVeterinarios)
                            {

                                <tr>                                
                                    <td>@v.Id</td>
                                    <td>@v.Nombre</td>
                                    <td>@v.Correo</td>
                                    <td>@v.Telefono</td>
                                    <td>      

                                        <div class="container">
                                            <div class="row" style="width: 220px;">
                                                <div class="col-sm">
                                                    <a class="btn btn-primary bg-success" asp-page="/Admin/AdminVeterinario" asp-route-idVeterinario="@v.Id">Editar</a>    
                                                </div>
                                                <div class="col-sm">
                                                <form method="POST">
                                                    <button class="btn btn-primary bg-danger" asp-page-handler="Del" asp-route-idVeterinario="@v.Id">Eliminar</button>
                                                </form>
                                                </div>                                            
                                            </div>
                                        </div>
                                                                                                             
                                    </td>
                                </tr>
                            }
                        }                                            
                    </tbody>
                </table>


            </div>
        </div>

    </div>


    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseCrudVeterinario" aria-expanded="true" aria-controls="collapseCrudVeterinario">
                    Crud Veterinario
                </button>
            </h2>
        </div>

        <div id="collapseCrudVeterinario"
         class="@(Model.modoAdmin == "edicion" ? "collapse show" : "collapse")"
        aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">

                <form method="POST">

                    <div class="container">
                        
                         <input asp-for="@Model.veterinarioActual.Id" type="hidden" class="form-control"
                                       name="Id">

                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-admin-veterinario-nombre">Nombre</label>
                                    <input asp-for="@Model.veterinarioActual.Nombre" type="text" class="form-control" id="id-admin-veterinario-nombre"
                                        aria-describedby="emailHelp" name="Nombre">

                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-admin-veterinario-telefono">Teléfono</label>
                                    <input asp-for="@Model.veterinarioActual.Telefono" type="tel" class="form-control" id="id-admin-veterinario-telefono"
                                        aria-describedby="emailHelp" name="Telefono">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-admin-veterinario-edad">Edad</label>
                                    <input asp-for="@Model.veterinarioActual.Edad"  type="number" class="form-control" id="id-admin-veterinario-edad"
                                        aria-describedby="emailHelp" name="Edad">

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-admin-veterinario-direccion">Dirección</label>
                                    <input type="text" class="form-control" id="id-admin-veterinario-direccion"
                                        asp-for="@Model.veterinarioActual.Direccion"  aria-describedby="emailHelp" name="Direccion">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-admin-veterinario-correo">Correo</label>
                                    <input type="email" class="form-control" id="id-admin-veterinario-correo"
                                      asp-for="@Model.veterinarioActual.Correo"    aria-describedby="emailHelp" name="Correo">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-admin-veterinario-contrasenia">Contraseña</label>
                                    <input type="password" class="form-control" id="id-admin-veterinario-contrasenia"
                                       asp-for="@Model.veterinarioActual.Contrasenia" aria-describedby="emailHelp" name="Contrasenia">                                  
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-admin-veterinario-direccion">Especialización</label>
                                    <input type="text" class="form-control" id="id-admin-veterinario-direccion"
                                       asp-for="@Model.veterinarioActual.Especializacion" aria-describedby="emailHelp" name="Especializacion">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-admin-veterinario-correo">Tarjeta profesional</label>
                                    <input type="text" class="form-control" id="id-admin-veterinario-correo"
                                        asp-for="@Model.veterinarioActual.TarjetaProfesional"  aria-describedby="emailHelp" name="TarjetaProfesional">
                                </div>
                            </div>
                           
                        </div>


                    </div>

                    <button class="btn btn-primary" asp-page-handler="Add">Agregar</button>

                
                    @if(Model.modoAdmin == "edicion") {
                         <button class="btn btn-primary" asp-page-handler="Edi">Editar</button>
                    }

                </form>
            </div>
        </div>
    </div>

</div>


<script>


    @* let veterinario = {
        "nombre": "juan",
        "edad": 25,
        "telefono": "310698"
    };

    let jsonPrueba = {
        "nombre": "Juan",
        "apellidos": "Martinez",
        "edad": 23,
        "esMillonario": false,
        "horarios":
            [
                {
                    "dia": "lunes",
                    "rango": "10 am  - 12pm"
                },
                {
                    "dia": "martes",
                    "rango": "12 am  - 17pm"
                }
            ]
    };

    jsonPrueba.esMillonario = true;
    jsonPrueba["llaveNueva"] =  "valor nuevo"; *@


    function actualizarLista() {
        @* let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                alert(xhttp.responseText);
                console.log(xhttp.responseText);
            }
        };
        // GET, POST PUT, DELETE
        xhttp.open("GET", "https://localhost:5005/WeatherForecast", true);
        xhttp.send(); *@

        $.ajax(
            {
                type: "GET", // la variable type guarda el tipo de la peticion GET,POST,..
                url: "https://localhost:5005/WeatherForecast", //url guarda la ruta hacia donde se hace la peticion
                data: 'text',
                success: function (datos) { //success es una funcion que se utiliza si el servidor retorna informacion
                    alert(datos);
                },
                dataType: 'text' // El tipo de datos esperados del servidor. Valor predeterminado: Intelligent Guess (xml, json, script, text, html).
            }
      )

    }

</script>
