@page
@model Veterinaria.App.Presentacion.Pages.AdminCuidadorModel
@{
}


<h1 style="margin: 25px 0px; color: gray; font-size: 21px;">@Model.titulo</h1>

<div class="accordion" id="accordionExample">


    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseListaVeterinarios" aria-expanded="true"
                    aria-controls="collapseListaVeterinarios">
                    Lista mascotas
                </button>
            </h2>
        </div>

        <div id="collapseListaVeterinarios"
         class="@(Model.modoAdmin == "edicion" ? "collapse" : "collapse show")"         
         aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="card-body">




                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if(Model.listaCuidadores != null)  {
                            foreach (var v in Model.listaCuidadores)
                            {

                                <tr>                                
                                    <td>@v.Id</td>
                                    <td>@v.Nombre</td>
                                    <td>@v.Correo</td>
                                    <td>@v.Telefono</td>
                                    <td>      

                                        <div class="container">
                                            <div class="row" style="width: 220px;">
                                                <div class="col-sm">
                                                    <a class="btn btn-primary bg-success" asp-page="/Admin/AdminCuidador" asp-route-id="@v.Id">Editar</a>    
                                                </div>
                                                <div class="col-sm">
                                                    <a class="btn btn-primary bg-success" asp-page="/Admin/AdminMascota" asp-route-id="@v.Id">Ver mascotas</a>    
                                                </div>
                                                <div class="col-sm">
                                                <form method="POST">
                                                    <button class="btn btn-primary bg-danger" asp-page-handler="Del" asp-route-id="@v.Id">Eliminar</button>
                                                </form>
                                                </div>                                            
                                            </div>
                                        </div>
                                                                                                             
                                    </td>
                                </tr>
                            }
                        }                                            
                    </tbody>
                </table>


            </div>
        </div>

    </div>


    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseCrudVeterinario" aria-expanded="true" aria-controls="collapseCrudVeterinario">
                    Información mascota
                </button>
            </h2>
        </div>

        <div id="collapseCrudVeterinario"
         class="@(Model.modoAdmin == "edicion" ? "collapse show" : "collapse")"
        aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">

                <form method="POST">

                    <div class="container">
                        
                         <input asp-for="@Model.cuidadorActual.Id" type="hidden" class="form-control"
                                       name="Id">

                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-admin-veterinario-nombre">Nombre</label>
                                    <input asp-for="@Model.cuidadorActual.Nombre" type="text" class="form-control" id="id-admin-veterinario-nombre"
                                        aria-describedby="emailHelp" name="Nombre">

                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-admin-veterinario-telefono">Teléfono</label>
                                    <input asp-for="@Model.cuidadorActual.Telefono" type="tel" class="form-control" id="id-admin-veterinario-telefono"
                                        aria-describedby="emailHelp" name="Telefono">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-admin-veterinario-edad">Edad</label>
                                    <input asp-for="@Model.cuidadorActual.Edad"  type="number" class="form-control" id="id-admin-veterinario-edad"
                                        aria-describedby="emailHelp" name="Edad">

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-admin-veterinario-direccion">Dirección</label>
                                    <input type="text" class="form-control" id="id-admin-veterinario-direccion"
                                        asp-for="@Model.cuidadorActual.Direccion"  aria-describedby="emailHelp" name="Direccion">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-admin-veterinario-correo">Correo</label>
                                    <input type="email" class="form-control" id="id-admin-veterinario-correo"
                                      asp-for="@Model.cuidadorActual.Correo"    aria-describedby="emailHelp" name="Correo">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="id-admin-veterinario-contrasenia">Contraseña</label>
                                    <input type="password" class="form-control" id="id-admin-veterinario-contrasenia"
                                       asp-for="@Model.cuidadorActual.Contrasenia" aria-describedby="emailHelp" name="Contrasenia">                                  
                                </div>
                            </div>
                        </div>
                
                    </div>

                    <button class="btn btn-primary" asp-page-handler="Add">Agregar</button>

                
                    @if(Model.modoAdmin == "edicion") {
                         <button class="btn btn-primary" asp-page-handler="Edi">Editar</button>
                    }

                </form>
            </div>
        </div>
    </div>

</div>
